[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0"
djangorestframework = "*"
django-filter = "*"
django-extensions = "*"
werkzeug = "*"
django-model-utils = "*"
django-admin-filter = "*"
django-suit = "*"
markdown = "*"
django-debug-toolbar = "*"
pillow = "*"
django-admin-search = "*"
django-utils2 = "*"
exifread = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
mypy = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"
